<div class="container mt-5">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="mb-0">Expenses</h1>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary">New Expense</button>
      </div>
    </div>
  </div>
<hr>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        @for(expense of expenses; track expense.id){
            <tr>
                <th scope="row">{{expense.id}}</th>
                <td>{{expense.title}}</td>
                <td>{{expense.description}}</td>
                <td>{{expense.categoryName}}</td>
                <td>{{expense.amount}}</td>
                <td>{{expense.date}}</td>
              </tr>
        }
      
    </tbody>
  </table>
